{\b Common reasons why people do not exercise:\b0\par

  Lack of knowledge - {{YesNoCapsReversed "<ExerciseKnowledge>"}} \par
  Lack of relevance - {{YesNoCapsReversed "<ExerciseRelevant>"}} \par
  Lack of benefit - {{YesNoCapsReversed "<ExerciseBenefit>"}} \par
  Lack of opportunity - {{YesNoCaps "<ExerciseOpportunity>"}} \par

}\par

{\b Exercise benefits that you think may be relevant to you:\b0\par

{{#IfYes "<InterestedExerciseBenefitsPsyche>"}}
  Psyche: release of endorphins improves mood \par{{/IfYes}}
{{#IfYes "<InterestedExerciseBenefitsBrain>"}}
  Brain: reduces risk of stroke. Improves endurance ability after stroke \par{{/IfYes}}
{{#IfYes "<InterestedExerciseBenefitsLegArteries>"}}
  Leg arteries: improves circulation in peripheral vascular disease \par{{/IfYes}}
{{#IfYes "<InterestedExerciseBenefitsLungs>"}}
  Lungs: improves exercise capacity. (including COPD patients) \par{{/IfYes}}
{{#IfYes "<InterestedExerciseBenefitsHeart>"}}
  Heart: reduces risk of heart attack. Improves function in heart failure patients \par{{/IfYes}}
{{#IfYes "<InterestedExerciseBenefitsBloodPressure>"}}
  Blood pressure: lowers BP by 4 points \par{{/IfYes}}
{{#IfYes "<InterestedExerciseBenefitsWaistSize>"}}
  Waist size: reduces visceral fat \par{{/IfYes}}
{{#IfYes "<InterestedExerciseBenefitsMuscles>"}}
  Muscles: enhances muscle fitness \par{{/IfYes}}
{{#IfYes "<InterestedExerciseBenefitsArteries>"}}
  Arteries: reduces cholesterol and triglycerides \par{{/IfYes}}
{{#IfYes "<InterestedExerciseBenefitsErections>"}}
  Erections: improves erection strength \par{{/IfYes}}
{{#IfYes "<InterestedExerciseBenefitsPancreas>"}}
  Pancreas: reduces insulin resistance \par{{/IfYes}}
{{#IfYes "<InterestedExerciseBenefitsBones>"}}
  Bones: protects from osteoporosis \par{{/IfYes}}
{{#IfYes "<InterestedExerciseBenefitsBreastCancer>"}}
  Breasts: reduces cancer risk by up to 20% \par{{/IfYes}}
{{#IfYes "<InterestedExerciseBenefitsBowelCancer>"}}
  Bowels: reduces cancer risk by up to 30% \par{{/IfYes}}
}\par


{\b What stage are you at?\b0\par

{{#IfSelected "<ExerciseAction>" "action"}}
  Action - I am ready to start today \par
{{/IfSelected}}

{{#IfSelected "<ExerciseAction>" "ready"}}
  Ready - I will be ready to start within a month \par
{{/IfSelected}}

{{#IfSelected "<ExerciseAction>" "contemplative"}}
  Contemplative - I will think about it over the next few months \par
{{/IfSelected}}

{{#IfSelected "<ExerciseAction>" "precontemplative"}}
  Pre-contemplative - Not ready to think about it at all yet \par
{{/IfSelected}}


}