
{\b\fs22 Common feelings about having to use insulin:\b0\par

{{#IfYes "<AnnoyedWithMyselfAboutInsulin>"}}
    \tab I feel a bit annoyed with myself. \par
{{/IfYes}}

{{#IfYes "<AnnoyedAboutInsulin>"}}
    \tab I just feel annoyed. \par
{{/IfYes}}

{{#IfYes "<SadAboutInsulin>"}}
    \tab I feel a bit sad. \par
{{/IfYes}}

{{#IfYes "<AnxiousAboutInsulin>"}}
    \tab I feel worried or anxious. \par
{{/IfYes}}

{{#IfYes "<HappyEnoughAboutInsulin>"}}
    \tab I feel happy enough. \par
{{/IfYes}}

}

{\b\fs22 Common thoughts about having to use insulin:\b0\par

{{#IfYes "<ShouldHaveTriedHarderManagingDiabetes>"}}
    \tab I should have tried harder to look after myself.\par\tab I have failed to follow the treatment properly. \par
{{/IfYes}}

{{#IfYes "<UnfairIHaveToUseInsulinNotHadEnoughHelp>"}}
    \tab I should have been helped more or earlier.\par\tab It is just unfair that I have to use insulin. \par
{{/IfYes}}

{{#IfYes "<InsulinWillBeDifficultToUnderstandOrCopeWith>"}}
    \tab It will be too difficult to understand.\par\tab I will not be able to cope. \par
{{/IfYes}}

{{#IfYes "<ConcernedInsulinPainfulDangerousOrLimiting>"}}
    \tab It will be painful to inject.\par\tab I may lose consciousness. It will limit my driving or activities. \par
{{/IfYes}}

{{#IfYes "<ManagingWellReInsulin>"}}
    \tab I am managing well. \par
{{/IfYes}}

}


{\b\fs22 How I feel about using Insulin now: \b0 \par\tab


{{#IfSelected "<InsulinEducationImpact>" "less-comfortable"}}
  I am less comfortable with the idea. \par
{{/IfSelected}}

{{#IfSelected "<InsulinEducationImpact>" "unchanged"}}
  I feel the same as before. \par
{{/IfSelected}}

{{#IfSelected "<InsulinEducationImpact>" "more-comfortable"}}
  I feel more comfortable with the idea. \par
{{/IfSelected}}

}