{\b\fs22 Things I like about smoking:\b0\par

  I just enjoy it - {{YesNoCaps "<SmokingForEnjoyment>"}} \par
  It is just a habit - {{YesNoCaps "<SmokingAsHabit>"}} \par
  It is a stress reliever for me / it relaxes me - {{YesNoCaps "<SmokingForRelaxation>"}} \par
  Other reason - {{YesNoCaps "<SmokingOtherReason>"}} \par}

{\b\fs22 Things I do not like about smoking:\b0\par

  Cost / money - {{YesNoCaps "<SmokingBadFinancially>"}} \par
  Social aspects such as people noticing the cigarette smell or me having to leave the room to smoke - {{YesNoCaps "<SmokingBadSocially>"}} \par
  My health in general (including physical fitness, shortening the length of my life) - {{YesNoCaps "<SmokingBadForHealth>"}} \par
  Family is concerned (spouse or children) - {{YesNoCaps "<SmokingFamilyConcerned>"}} \par}

{\b\fs22 Specific effects you are concerned about or want the doctor to explain in more detail:\b0\par

{{#IfYes "<ConcernedSmokingAffectsEyes>"}}
  Eyes\par
{{/IfYes}}
{{#IfYes "<ConcernedSmokingAffectsHair>"}}
  Hair\par
{{/IfYes}}
{{#IfYes "<ConcernedSmokingAffectsSkin>"}}
  Skin\par
{{/IfYes}}
{{#IfYes "<ConcernedSmokingAffectsBrain>"}}
  Brain\par
{{/IfYes}}
{{#IfYes "<ConcernedSmokingAffectsMouth>"}}
  Mouth\par
{{/IfYes}}
{{#IfYes "<ConcernedSmokingAffectsLungs>"}}
  Lungs\par
{{/IfYes}}
{{#IfYes "<ConcernedSmokingAffectsHeart>"}}
  Heart\par
{{/IfYes}}
{{#IfYes "<ConcernedSmokingAffectsStomach>"}}
  Stomach\par
{{/IfYes}}
{{#IfYes "<ConcernedSmokingAffectsPancreas>"}}
  Pancreas\par
{{/IfYes}}
{{#IfYes "<ConcernedSmokingAffectsBladder>"}}
  Bladder\par
{{/IfYes}}
{{#IfYes "<ConcernedSmokingAffectsGynaecology>"}}
  Cervix\par
{{/IfYes}}
{{#IfYes "<ConcernedSmokingAffectsImpotence>"}}
  Impotence\par
{{/IfYes}}
{{#IfYes "<ConcernedSmokingAffectsPeripheralArteries>"}}
  Arteries\par
{{/IfYes}}
{{#IfYes "<ConcernedSmokingAffectsBones>"}}
  Bones\par
{{/IfYes}}
}


{\b\fs22 What stage are you at?\b0\par

{{#IfSelected "<SmokingQuitStage>" "action"}}
  Action - I am ready to quit today or I have \par
{{/IfSelected}}
{{#IfSelected "<SmokingQuitStage>" "ready"}}
  Ready - I will be ready to quit within a month \par
{{/IfSelected}}
{{#IfSelected "<SmokingQuitStage>" "contemplative"}}
  Contemplative - I  will think about it over the next few months \par
{{/IfSelected}}
{{#IfSelected "<SmokingQuitStage>" "precontemplative"}}
  Pre-Contemplative - Not ready to think about it at all yet \par
{{/IfSelected}}

}
