{\b\fs22 Common beliefs about weight loss:\b0\par


{{#IfYes "<WeightAllOrNothing>"}}
  All or nothing \par
{{/IfYes}}

{{#IfYes "<DietBlackAndWhite>"}}
  Black and white \par
{{/IfYes}}

{{#IfYes "<WeightLossFastAndFurious>"}}
  Fast and furious \par
{{/IfYes}}

{{#IfYes "<GoodAndBadFoods>"}}
  Good and bad \par
{{/IfYes}}

{{#IfYes "<EatWhenDownOrBored>"}}
  Down or bored \par
{{/IfYes}}

{{#IfYes "<FoodAddiction>"}}
  Food addiction \par
{{/IfYes}}

}


{\b\fs22 Emotional hunger:\b0\par
{{YesNoCaps "<EmotionalEating>"}} \par
}


{\b\fs22 Where are you at now?\b0\par

{{#IfSelected "<WeightLossAction>" "byMyself"}}
  I wish to try weight reduction by myself \par
{{/IfSelected}}
{{#IfSelected "<WeightLossAction>" "doctorsInfo"}}
  I want my doctor to give me specific information so I can try by myself \par
{{/IfSelected}}
{{#IfSelected "<WeightLossAction>" "weightProgramReferral"}}
  I want a referral to a weight reduction program \par
{{/IfSelected}}
{{#IfSelected "<WeightLossAction>" "dieticianReferral"}}
  I want a referral to a dietician to get what I normally eat analysed so I will know what to change \par
{{/IfSelected}}

}
